In [10]:
import pandas as pd

In [11]:
df1=pd.DataFrame({'A':[1,2,3],'B':[10,20,30]})
df1

   A   B
0  1  10
1  2  20
2  3  30

In [12]:
df2=pd.DataFrame({'A':[4,5,6],'B':[40,50,60]})
df2

   A   B
0  4  40
1  5  50
2  6  60

In [14]:
df1.append(df2, ignore_index=True) #append two df in same column name

/tmp/ipykernel_2210/2883649392.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index=True) #append two df in same column name

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60