In [8]:
import pandas as pd

In [9]:
emp_df=pd.DataFrame() #create empty data frame
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [10]:
lst=["a","b","c"] 
print(lst)

['a', 'b', 'c']

In [11]:
df1=pd.DataFrame(lst)#create df help of list
print(df1)

   0
0  a
1  b
2  c

In [12]:
lt_of_lt=[["a","b","c"],["d","e","f"]] 
print(lt_of_lt)

[['a', 'b', 'c'], ['d', 'e', 'f']]

In [13]:
df2=pd.DataFrame(lt_of_lt)#create df help of list of list
print(df2)

   0  1  2
0  a  b  c
1  d  e  f

In [15]:
dict1={'id':[1,2,3,4]}
print(dict1)

{'id': [1, 2, 3, 4]}

In [16]:
df3=pd.DataFrame(dict1)#create df help of dict
print(df3)

   id
0   1
1   2
2   3
3   4

In [19]:
dict2={'id':[11,22,33,44],'sn':[1,2,3,4]}
print(dict2)

{'id': [11, 22, 33, 44], 'sn': [1, 2, 3, 4]}

In [21]:
df3=pd.DataFrame(dict2)
df3

   id  sn
0  11   1
1  22   2
2  33   3
3  44   4

In [25]:
ls_dict=[{"a":1, "b":2,"c":3},{"a":4, "b":5, "c":6}] #create df help of list of dict
df5=pd.DataFrame(ls_dict)
df5

   a  b  c
0  1  2  3
1  4  5  6

In [27]:
dict_sr={"id":pd.Series([1,2,3]),"sn":pd.Series([11,22,33])}
df6=pd.DataFrame(dict_sr) #create df help of series
df6

   id  sn
0   1  11
1   2  22
2   3  33