In [23]:
import pandas as pd

In [24]:
df=pd.read_csv("data3.csv")

In [25]:
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.fillna(0) #fill 0 in null value

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,0,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",0,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,0,2013.0,"$14,026,934","7,429,377 Dollars",0,7%
4,5.0,Techdrill,0,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",0,7%
6,7.0,Cityace,0,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,0,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,0.0,0,0,0.0,0,0,0,0

In [27]:
df.fillna(2) #fill 2 in null value

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,2,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",2,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,2,2013.0,"$14,026,934","7,429,377 Dollars",2,7%
4,5.0,Techdrill,2,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",2,7%
6,7.0,Cityace,2,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,2,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,2.0,2,2,2.0,2,2,2,2

In [28]:
df.fillna({"Companies":"none","Profit":0 }) #(value are null) fill spacific value for spacif column Companies column none and Profic column 0

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,none,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",0,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,none,2013.0,"$14,026,934","7,429,377 Dollars",0,7%
4,5.0,Techdrill,none,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",0,7%
6,7.0,Cityace,none,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,none,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,NaN,NaN,none,NaN,NaN,NaN,0,NaN

In [29]:
df.fillna(method="ffill") #fill forword column value in row 
#same as pad

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",5274553,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,not avilable,2013.0,"$14,026,934","7,429,377 Dollars",3005820,7%
4,5.0,Techdrill,not avilable,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",not avilable,7%
6,7.0,Cityace,no value,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [30]:
df.fillna(method="bfill") #fill backword column value in row

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,Financial Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",3005820,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,no value,2013.0,"$14,026,934","7,429,377 Dollars",not avilable,7%
4,5.0,Techdrill,no value,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",not avilable,7%
6,7.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,Government Services,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.fillna(method="ffill" ,axis=0) #fill forword value in row for particular column, forword row value fill

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",5274553,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,not avilable,2013.0,"$14,026,934","7,429,377 Dollars",3005820,7%
4,5.0,Techdrill,not avilable,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",not avilable,7%
6,7.0,Cityace,no value,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [33]:
df.fillna(method="ffill" ,axis=1) #fill forword value in column for particular column, forword column value fill

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,Lamtone,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars","916,455 Dollars",20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,Mattouch,2013.0,"$14,026,934","7,429,377 Dollars","7,429,377 Dollars",7%
4,5.0,Techdrill,Techdrill,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars","5,470,303 Dollars",7%
6,7.0,Cityace,Cityace,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,Ganzlax,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.fillna(0, limit=2) #fill top 2 row value in every column

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,0,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",0,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,0,2013.0,"$14,026,934","7,429,377 Dollars",0,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,0.0,0,NaN,0.0,0,0,NaN,0

In [38]:
df

,ID,Name,Companies,Inception,Revenue,Expenses,Profit,Growth
0,1.0,Lamtone,NaN,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",NaN,20%
2,3.0,Canecorporation,not avilable,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4.0,Mattouch,NaN,2013.0,"$14,026,934","7,429,377 Dollars",NaN,7%
4,5.0,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",not avilable,7%
5,6.0,Techline,no value,2006.0,"$13,898,119","5,470,303 Dollars",NaN,7%
6,7.0,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",not avilable,16%
7,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9.0,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",no value,18%
9,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN