In [6]:
import pandas as pd

In [7]:
list_s=[1,2,3,-3,5.2,"hello"]
print(list_s)

[1, 2, 3, -3, 5.2, 'hello']

In [8]:
series1=pd.Series(list_s) #create series help to list
print(series1)

0        1
1        2
2        3
3       -3
4      5.2
5    hello
dtype: object

In [10]:
type(series1)

pandas.core.series.Series

In [11]:
series2=pd.Series([1,2,3,4]) #create series help to list
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
empty_s=pd.Series([]) #create empty series
print(empty_s)

Series([], dtype: float64)

/tmp/ipykernel_4299/2236395953.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_s=pd.Series([]) #create empty series

In [13]:
series3=pd.Series([1,2,3,4],index=["a","b","c","d"]) #create index
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
series3=pd.Series([1,2,3,4],index=["a","b","c","d"], dtype=float, name="data value") #change data type
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data value, dtype: float64

In [17]:
scaler_s=pd.Series(0.5) #create series help scaler value
print(scaler_s)

0    0.5
dtype: float64

In [18]:
scaler_s=pd.Series(0.5, index=[1,2,3]) #create series help scaler value in more row
print(scaler_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [19]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
s4[0] #axis 1 element(simallery  as nparray)

1

In [21]:
s4[0:3] #slicing for series

0    1
1    2
2    3
dtype: int64

In [22]:
max(s4) #max value

5

In [23]:
min(s4) #min value

1

In [25]:
s4[s4>3] #axis grater then  value for 3

3    4
4    5
dtype: int64

In [26]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
s4+s5 #add two series same row

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [28]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [29]:
s5+s6 #add two series diffrent row

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64